/* for font add */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */

/* for universal selector */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}
body{
    max-width: 1400px;
}
/* header section starts from here ... here is the nav bar styles */
.navbar{
    max-width: 1350px;
    height: 70px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.navbar .navbar-content{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 26.5px;
    font-weight: 800;
    line-height: 31.3px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

nav .nav-title span{
    color: rgb(236, 52, 20);
}


/* nav button style */
nav .nav-btn{
    width: 216px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 7px;
    opacity: 0.8;
    cursor: pointer;

}

nav a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-size: 19px;
    font-weight: 600;
    font-family: Azeret Mono;
}

/* navbar done */
/* the banner section styles start from here */

.banner-container{
    width: 1350px;
    height: 610px;
    /* border: 1px solid red; */
    background-image: url(./assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-content{
    width: 938px;
    height: 547px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content img{
    width: 226px;

}
.banner-title h3{
    text-align: center;
    font-size: 35px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    font-family: Azeret Mono;
    margin-top: 35px;
    margin-bottom: 18px;
}

.banner-content p{
    text-align: center;
    font-size: 13px;
    color: rgb(13, 19, 33);
    text-transform:capitalize;
    margin-bottom: 30px;
    opacity: 0.9;
}

.banner-content a{
    text-decoration: none;
    padding: 10px 20px;
    /* border: 1px solid red; */
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    border-radius: 5px;
    font-weight: 600;
}

/* end of the banner section */

/* starting of the why web development section styles from here */


main{
    background: rgba(13, 19, 33, 0.02);
    width: 1070px;
    margin: 0  auto;
    border-radius: 16px;
    padding-bottom: 40px;
}

.why{
    
    width: 800px;
    height: 108px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    
}

.why h4{
    text-align: center;
    font-size: 30px;
    color: rgb(13, 19, 33);
    font-weight: 800;
}

.why p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    /* opacity: 0.8; */
    margin-top: 20px;
}

/* why-card section start from here */
.why-card-01{
    width: 880px;
    height: 280px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 14px;
    margin-bottom: 30px;
    background: linear-gradient(to right, white, rgba(13, 19, 33, 0.01));
    
}

.cd-bg-2{
    background: linear-gradient(to left, white, rgba(13, 19, 33, 0.01));
}

.why-card-content{
    width: 795px;
    height: 226px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
   
}

.why-card-description{
    width: 446px;
    height: 206px;
    margin-top: 35px;
}

.why-card-img{
    width: 244px;
    height: 206px;
}

.why-card-content h5{
    font-size: 22px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
    margin-bottom: 14px;
}

.why-card-content p{
    font-size: 14px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 27px;
}

.why-card-content button{
    color: rgb(13, 19, 33);
    padding: 10px 10px ;
    opacity: 0.7;
    border: 1px solid rgb(13, 19, 33);
    cursor: pointer;
}

.img-22{
    margin-right: 30px;
}


/* my inspiration section start from here  */

.my-ins{
    width: 800px;
    height: 108px;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 80px;
    margin-bottom: 40px;
}

.my-ins h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 29px;
    font-weight: 800;
    text-align: center;
}

.my-ins p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    padding-top: 22px;
}

/* youtube video section style starts from here */

.youtube-video{
    width: 1050px;
    height: 570px;
    /* border: 2px solid red; */
    margin: 0 auto;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;

}

iframe {
    width: 1020px ;
    height: 540px;
    border-radius: 20px;
}

/* current target card styles starts from here */

.current-target-card-box{
    width: 1070px;
    height: 281px ;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-bottom: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.card-1{
    width: 340px;
    height: 280px;
    /* border: 1px solid red; */
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.card-1 h5{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 7px;
    
}

.card-1 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13.5px;
    font-weight: 400;
    margin-bottom: 22px;

}

.card-1 a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 700;
    text-decoration-line: underline;
}

.cd-00{
    background: rgba(0, 76, 232, 0.05);
}

.cd-000{
    background: rgba(255, 223, 0, 0.05);
}

/* for next target section styles */

.next-target{
    margin-bottom: 100px;
}

/* next target card styles */

.next-target-card{
    width: 1070px;
    height: 205px;
    margin: 0 auto;
    border: 1px solid red;
    margin-bottom: 20px;
    padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 30px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}

.next-target-card h5{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 7px;
    
}

.next-target-card p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 22px;
    
}

.next-target-card a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

.next-target-card-container{
    margin-bottom: 100px;
}

/* support section er style akhan theke shuru hocche */

.support-container{
    width: 1070px;
    height: 290px;
    margin: 0 auto;
    /* border: 1px solid red; */
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 45px;
    background: rgba(0, 0, 0, 0.6);

    background-image: url(./assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    flex-direction: column;
}

.support-container h4{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 13px;
    }

.support-container p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 22px;
}

.support-container .input-field{
    /* width: 600px;
    height: 60px;
  */
  display: flex;
  flex-direction: row;
}

input{
    width: 450px;
    height: 44px;
    display: block;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    padding-left: 20px;
    font-size: 13px;
}

.support-container button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    width: 90px;
    height: 44px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    border: none;
    
}

.btn-submit{
    width: 90px;
    height: 44px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 10px;
    background-color: white;
    cursor: pointer;
}

#support{
    margin-bottom: 100px;
}

/* footer sectio style starts from here */

    footer{
        width: 100%;
        height: 250px;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient( 85.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% );
    }

    .footer-description{
        width: 60%;
        height: 200px;
        /* border: 1px solid green; */
        padding: 50px;
    }

    .footer-icon{
        width: 40%;
        height: 200px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;


    }

    i{
        font-size: 40px;
        padding: 5px;
        cursor: pointer;
    }

    .fa-github{
        color: black;
    }

    .fa-instagram{
        color: red;
    }

    .footer-description{
        color: lightgray;
    }

    span .ak , .ten{
        color: tomato;
        font-size: 15px ;
        font-weight: 700;

    }
    
    .copy-right{
        color: grey;
    }
